html, body { height: 100%; margin: 0; }
#app { min-height: 100dvh; }

.screen { min-height: 100dvh; }

.sop-text { font-size: 1.6rem !important; line-height: 1.3 !important; }
.sop-btn  { font-size: 1.15rem !important; padding: 1.25rem !important; }

@keyframes pop { 0%{transform:scale(.96);opacity:0} 100%{transform:scale(1);opacity:1} }
.animate-pop { animation: pop .25s ease-out forwards; }
iframe {
  pointer-events: none !important;
}

#player iframe {
  pointer-events: auto !important;
}
#screen-editor {
  position: relative;
  z-index: 10;
}

#player {
  z-index: 1;
}
